<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title><%= pages[0].title %></title>
<meta name="description" content="<%= pages[0].description %>">
</head>
<body>
    <div class="conatiner">

        <%- include('common/_header', {rel_path:'./'}) %>

        <p>
            トップ<img src="./images/surfer-2212948_640.jpg" width="640" height="369" alt="画像"  />
        </p>

        <ul>
        <% for (var i = 0; i < 5; i++) { %>
        <li><%= i+1 %>個目のli。</li>
        <% } %>
        </ul>

        <% include common/_footer %>

    </div>
</body>
</html>