<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title><%= pages[1].title %></title>
<meta name="description" content="<%= pages[1].description %>">
</head>
<body>
    <div class="conatiner">

        <%- include('../common/_header', {rel_path:'../'}) %>

        <p>
            ニュース
        </p>

        <% include ../common/_footer %>

    </div>
</body>
</html>